RewriteEngine On

php_value upload_max_filesize 30M
php_flag display_errors off
 
RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
 
RewriteRule ^(.*)$ index.php?page=$1 [NC,L]