/* 
    Document   : notifikasi
    Created on : Oct 22, 2013, 12:13:17 PM
    Author     : aisyah
    Description:
        Purpose of the stylesheet follows.
*/

.notif {
    padding: 5px 5px 5px 5px;
    border-radius:5px;
    width: 100%;
    /*    text-align: center;*/
    overflow: hidden;
    /*    position: relative;*/
    -webkit-transition: background-color 350ms;
    -moz-transition: background-color 350ms;
    transition: background-color 350ms;

}

/*.notif p{
    
    position: absolute;
    padding-bottom: 1px;
    width: 600px;
    display:block;
    margin: 0;
    transform:translateX(100%);
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);
}*/

div .tanggal{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    width: 10%;
    min-height:45px;
    background-color: #ba141a;
    float:left;
}

div .foto_pic{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    width: 10%;
    min-height: 45px;
    background-color: #27c6ef;
    float: left;
}

div .content_notif{
    padding: 2px 2px 2px 2px;
    margin: 2px 0px 2px 0px;
    height: 45px;
    width: 75%;
    background-color: gray;
    float: left;

}

div .content_notif p{
    padding-bottom: 1px;
    width: 480px;
    display:block;
    margin: 0;

}

.marquee {
    width: 80%;
    height: 720px;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
/*    border: 1px solid #000;*/

    -webkit-border-radius: 5px;
    border-radius: 5px;

    /*    -webkit-box-shadow: inset 0px 2px 2px  rgba(0, 0, 0, .5), 0px 1px 0px  rgba(250, 250, 250, .2);
        box-shadow: inset 0px 2px 2px  rgba(0, 0, 0, .5), 0px 1px 0px  rgba(250, 250, 250, .2);*/

    -webkit-transition: background-color 350ms;
    -moz-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p {
    position: absolute;

    width: 100%;
    height: 100%;

    margin: 0;
    /*    line-height: 50px;*/

    text-align: left;

    /*    text-shadow: 1px 1px 0px #000000;*/
    filter: dropshadow(color=#000000, offx=1, offy=1);

    transform:translateX(100%);
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
}

.fotopic {
    /*border: 2px solid red;
    background-color: #ba141a;*/

    width: 70px;
    float: left;
    margin: 4px 5px 0px -35px;
    height: 90%;
    text-align: center;
    border-radius: 40px;
    box-shadow: 1px 1px 3px #B8B8B8;
}
.detail {
    /*border: 2px solid blue;
    background-color: #F3F3F3;*/

    width: 80%;
    float: left;
    margin-right: 0%;
    height: 100%;
}
.flag {
    float: left;
    height: 100%;
    width: 30px;
    /*background-image:url('public/icon/notice.png');*/
    background-repeat: no-repeat;
    /*background-color: #F0F0F0;*/
    margin-left: 0px;
}

img.noti {
    /*height: 40%;*/
    margin: 20px 0px 0px -10px;
}

div.noti {
    font-family: Menu;
    margin-top: -10px;
    margin-left: 10px;
}
ul.noti {
    height: 75px; margin: 5px;
    width:100%;
    background-image: url('public/img/bg.png');
    -webkit-border-radius: 40px 0px 0px 40px;
    border-radius: 40px 0px 0px 40px;
}

ul.noti.jadup{
    background-color: #99FF99;
}

ul.noti.buku{
    background-color: #F3F3F3;
}

ul.noti.skripsi{
    background-color: #99C2FF;
}

ul.noti.kontrak{
    background-color: #FFB2B2;
}

ul.noti.lulus{
    background-color: #BFD1C3;
}

h4 {
    font-family: Nexa;
    font-size: 120%;
    margin: 10px;
}